#contenedor{
    width: 1000px;
    height: 800px;
    background-color: rgb(218, 38, 25);
    margin-left: auto;
    margin-right: auto;
}

#encabezado{
    width: 100%;
    height: 150px;
    background-color: rgb(131, 206, 131);
}

#menu{
    width: 100%;
    height: 70px;
    background-color: orange;
    margin-top: 5px;
    margin-bottom: 5px;
}

#menuElemento{
    width: 90px;
    height: 70px;
    background-color: whitesmoke;
    margin-right: 5px;
    margin-left: 5px;
    float: left;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#menuElemento:hover{
    background-color: yellow;
}


#zonaIzquierda{
    width: 300px;
    height: 500px;
    background-color: aqua;
    float: left;
}

#zonaDerecha{
    width: 695px;
    height: 500px;
    background-color: purple;
    float: left;
    margin-left: 5px;
}

.Resaltado01{
    color: orange;
}

.Resaltado02{
    color: rgb(100, 228, 122);
}

h3, h4{
    color: yellow;
}
